MARIADB_USER=wordpress_user
MARIADB_PASSWORD=your_database_password
MARIADB_ROOT_PASSWORD=your_root_password
MARIADB_DATABASE=bitnami_wordpress

WORDPRESS_DATABASE_HOST=db
WORDPRESS_DATABASE_PORT_NUMBER=3306
WORDPRESS_DATABASE_NAME=bitnami_wordpress
WORDPRESS_DATABASE_USER=wordpress_user
WORDPRESS_DATABASE_PASSWORD=your_database_password

WORDPRESS_BLOG_NAME=My WordPress Site
WORDPRESS_PORT=8080
WORDPRESS_ENABLE_HTTPS=no